<!DOCTYPE html>
<html>
  <head>
    <title>Skipperman</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Skipperman: BSC Cadet Skipper Management System</h1>
      </div>
    </header>
      <div class="container">
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Back to main menu</a></li>
          </ul>
        </nav></strong>
      </div>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>